<form novalidate #f="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" placeholder="Your full name" [(ngModel)]="user.name" name="name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" placeholder="Your email address" [(ngModel)]="user.email" name="email">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" placeholder="Your username" [(ngModel)]="user.username" name="username">
  </div>
</form>
