<div class="jumbotron vertical-center">
    <div class="container">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">             
            <div class="card">
            <div class="card-block text-center">
                <h1 class="display-1">404</h1>
                <h6 class="card-title">Opps, it seems that this page does not exist.</h6>
                <p class="card-text"> If you are sure it should, search for it.</p>
                
                <form method="get">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter search keyword..." type="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-main" type="button" (click)="searchResult()"><i class="fa fa-search"></i> Submit</button>
                        <button class="btn btn-main" type="button" [routerLink]="['/']"><i class="fa fa-home"></i> Home</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>